@page "/learnBlazer/parentcomponent"

<CascadingValue Value="@messageForGrandChildTemp" Name="Message">
    <CascadingValue Value="@luckyNumber" Name="luckyNumber">
        <_ChildComponent @ref="childComp" onButtonClickk="showMessage"
                         Title="Ezt a címet a szülő paraméterként adja át a"
                         messageForGrandChild="Fiam veled az erő">
            <ChildSomeContent>Valami szöveg</ChildSomeContent>

            <ChildContent>
                Random szöveg újra!!
                <br />
                <p class="text-primary">Ez már más</p>
            </ChildContent>
        </_ChildComponent>
    </CascadingValue>
</CascadingValue>

<p>@messageText</p>

<div class="row">
    <button class="btn btn-outline-success"
            @onclick="()=>childComp.ToastrSuccess()">
        Mutass valami szépet!!
    </button>
</div>

@code {
    private _ChildComponent childComp;
    private string messageForGrandChildTemp = "Fiam veled az erő";
    private string luckyNumber = "6";
    public string messageText = "";

    private void showMessage()
    {
        messageText = "Ez egy üzenet lehet";
    }

}
