<div>
    <div class="alert alert-info">
        @Title
    </div>
    @if (ChildSomeContent != null)
    {

        <div class="alert alert-success">
            @ChildSomeContent
           
            
        </div>
    }

    @if (ChildContent != null)
    {

        <div class="alert alert-success">
            @ChildContent
      
        </div>
    }

    <button class="btn btn-warning"
    @onclick="onButtonClickk">Katt Ide</button>

    <_GrandChildComponent>

    </_GrandChildComponent>
</div>

@code {
    [Parameter]
    public string Title { get; set; }

    [Parameter]
    public RenderFragment ChildSomeContent { get; set; }

    [Parameter]
    public RenderFragment ChildContent { get; set; }

    [Parameter]
    public EventCallback onButtonClickk { get; set; }

    [Parameter]
    public string messageForGrandChild { get; set; }


}


