<div class="row">
    <h4 class="text-primary pl-3 pt-3 col-12">Nagyapó</h4>
    <p>Ez a nagyapa componemt @messageForGrandChild</p>
</div>

@code {


    [Parameter]
    public string messageForGrandChild { get; set; }

}
